*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.big-container {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
}

:root {
  --img: url();
  --height: 15vh;
}

/********************************* Navbar *********************************/
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--height);
  background-color: rgb(19, 75, 139);
}

.nav-content-container {
  width: 25vw;
  margin-right: 5rem;
  display: flex;
  justify-content: space-around;
}

.brand {
  color: white;
  font-size: 2rem;
  padding-left: 2.5em;
  font-weight: bold;
}

.button-nav:hover {
  transition: all 0.2s ease;
  transform: scale(1.1);
}

.algorithm-dropdown,
.datastructure-dropdown {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

.algorithm-dropdown ul,
.datastructure-dropdown ul {
  position: absolute;
  width: 200px;
  height: 200px;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #f0eded;
  list-style: none;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  top: 50px;
  z-index: 2;
}

.algorithm-dropdown li,
.datastructure-dropdown li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.algorithm-dropdown li:hover,
.datastructure-dropdown li:hover {
  /*Something strange is happening here....*/
  background-color: #326fa8;
  color: white;
  transition: all 0.5s ease;
  transform: scale(1.2);
}

.dropdown button {
  background: none;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}

.algorithm-dropdown button:focus + ul,
.datastructure-dropdown button:focus + ul {
  visibility: visible;
  transform: translateY(10px);
  transition: all 0.5s ease;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 8px;
  margin-bottom: 3px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

/********************************* 3 main containers (table of contents, illstration and code) *********************************/
.main-container {
  display: flex;
  height: 85vh;
  width: 100vw;
}

.table-contents-container {
  flex: 0.3;
}

.illustration-container {
  flex: 1;
}

.code-container {
  flex: 0.6;
}

.hide {
  flex: 0;
}

/********************************* Table of contents *********************************/
.table-contents-container,
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  padding-top: 5em;
  text-transform: uppercase;
  animation: dropDown 0.5s ease-out;
  cursor: pointer;
}

.operation {
  width: 100%;
}

.operation li {
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
  width: 100%;
  list-style: none;
  animation: slideIn 0.5s ease-out;
  height: 40px;
  font-weight: 500;
  padding: 5px;
  height: auto;
}

.operation li:hover {
  background-color: wheat;
  cursor: pointer;
  color: black;
}

.background-color {
  background-color: #326fa8;
  animation: appear 1s ease forwards;
}

/********************************* Illustraion container *********************************/
.illustration-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  position: relative;
}

.linklist-illu-intro-container,
.queue-illu-intro-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  animation: appear 0.8s ease;
  position: relative;
  margin: 30px 0px 30px 0px;
}

.cell-container {
  position: relative;
  width: auto;
  display: flex;
  margin-right: 30px;
  align-items: center;
  padding: 2px;
}

.cell-container-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2px;
}

.cell {
  border: 1px solid white;
  height: 6vh;
  width: 4vw;
  background-color: yellowgreen;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.5em;
  font-weight: 600;
}

.cell.null::before,
.cell.null::after {
  content: "";
  height: 5vh;
  width: 2px;
  background-color: black;
  position: absolute;
}

.cell.null::before {
  transform: rotate(45deg);
}

.cell.null::after {
  transform: rotate(-45deg);
}

.icon {
  left: 95%;
  transform: translateY(100%);
  transform: scaleX(1.6);
  position: absolute;
}

.null {
  position: absolute;
}

.text {
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}

.text-left {
  transform: translate(-150%, -5px);
}

.text-right {
  transform: translate(5px, -5px);
}

/********************************* Code container *********************************/
.code {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 0.8s ease-in;
}

/************ Linked List operation ************/
.linkList-insert-illu {
  height: 100%;
  width: 100%;
}

.head-null-insert,
.normal-insert {
  height: 50%;
  width: 100%;
}

.head-null-insert,
.normal-insert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slideIn 0.8s ease;
}

.new-cell {
  animation: appear 1s ease forwards 3s;
  opacity: 0;
}

.cell.remove-move-right {
  animation: moveRight 1s ease-out forwards 2s;
}

.new-cell-pointer {
  position: absolute;
  opacity: 0;
  right: 125px;
  animation: appear 1s ease forwards 3.8s;
}

.appear-pointer-linked-list {
  animation: appear 1s ease forwards 2s;
  opacity: 0;
}

.toggle-choose {
  background-color: wheat;
  color: black !important;
}

.code-image-container {
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: var(--img);
  animation: appear 1s ease 0.6s forwards;
  opacity: 0;
  filter: drop-shadow(4px 4px 3px black);
}

.code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.added-cell {
  position: relative;
  opacity: 0;
  animation: appear 1s ease forwards 3s;
}

.tobe-inserted-cell {
  transform: translateY(120%);
  position: absolute;
  animation: disappear 1s ease forwards 3s;
}

.text-result-fast {
  animation: appear 1s ease forwards 3s;
  opacity: 0;
}

.text-result-medium {
  animation: appear 1s ease forwards 4.5s;
  opacity: 0;
}

.text-result-slow {
  animation: appear 1s ease forwards 6.5s;
  opacity: 0;
}

.tobe-deleted {
  animation: disappear 0.5s ease forwards 4.5s;
}

.remove-move-left {
  animation: moveLeft 1s ease-out forwards 5.5s;
}

.remove-move-left-2 {
  animation: moveLeft2 1s ease-out forwards 5.5s;
}

tr th,
.table-row td {
  height: auto;
  width: auto;
  padding: 15px;
  background-origin: padding-box;
  border: 1px solid black;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.complexityTable {
  opacity: 0;
}

.found-fast {
  animation: found 1s ease forwards 3s;
}

/************ Queue operation ************/
.queue-illu-intro-container {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.header {
  animation: slideIn 1s ease;
}

.transparent {
  visibility: hidden;
}

.tobe-inserted-queue {
  animation: moveRight-2-queue 1s linear forwards 3s;
}

.inserted-queue {
  animation: changeBackground-queue 0.1s linear forwards 3s;
  opacity: 0;
}

.disappear {
  animation: disappear 0.2s ease forwards 2s;
}

.linklist-illu-intro-container.queue,
.stack-illu-intro-container {
  display: flex;
  flex-direction: column;
}

.queue-illu-intro-container.queue {
  margin: 0px 30px 0px 0px;
}

.icon-down {
  position: absolute;
  bottom: 120%;
}

.appear-fast {
  animation: appear 0.5s forwards 3s;
  opacity: 0;
}

.appear {
  animation: appear 0.2s forwards 2s;
  opacity: 0;
}

/************ Stack operation ************/
.stack-illu-intro-container {
  align-items: center;
  animation: appear 1s ease forwards;
  opacity: 0;
}

.icon-rotate {
  transform: rotate(270deg);
}

.tobe-inserted-stack {
  transform: translate(-150%, -125%);
  animation: insert-stack 2s linear forwards 2s;
}

.stack-illu-container {
  border: 2px solid black;
  border-top: none;
}

.tobe-removed-stack {
  animation: remove-stack 2s linear forwards 2s;
}

.icon-left {
  position: absolute;
  transform: translateX(250%);
}

/************ Hash Table operation ************/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 100%;
  width: 100%;
}

.grid-col {
  flex-direction: column;
  display: flex;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.text-header-hash-table {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.icon-right {
  position: absolute;
  transform: scaleX(4);
  top: 5px;
}

.hash-table-cell {
  height: 5vh;
  text-align: center;
  width: 100%;
  position: relative;
}

.hash-function {
  background-color: lightblue;
}

.icon-right-1 {
  right: -30px;
}

.icon-right-2 {
  right: -10px;
}

.hashed-key,
.hash-key-inserted,
.hash-key-inserted-2 {
  opacity: 0;
}

.text-bold {
  font-weight: bold;
}

/********************************* On other screen *********************************/
@media only screen and (min-width: 1600px) {
  .cell.null::before,
  .cell.null::after {
    height: 3vh;
  }

  .icon-left {
    transform: translateX(320%);
  }

  .hash-table-bucket td {
    padding: 50px;
  }
}

@media only screen and (max-width: 1400px) {
  .algorithm-dropdown ul,
  .datastructure-dropdown ul {
    top: 80px;
  }

  .cell.null::before,
  .cell.null::after {
    height: 3vh;
    width: 2px;
  }
}

@media only screen and (max-width: 1024px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .burger {
    position: absolute;
    top: calc(var(--height) / 2 - 10px);
    left: 20px;
    display: block;
  }

  .table-contents-container {
    position: absolute;
    left: 0;
    height: 85vh;
    width: 20vw;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 2;
  }

  .cell.null::before,
  .cell.null::after {
    height: 3vh;
  }

  .cell {
    font-size: 1.2em;
    width: 6vw;
  }

  .dropdown button {
    font-size: 1.2em;
  }

  .cell-container {
    margin-right: 20px;
  }

  .hash-table-bucket td {
    padding: 8px !important;
  }

  .hash-function {
    background-color: white;
  }
}

@media only screen and (max-width: 768px) {
  .brand {
    font-size: 1.2em;
    padding-left: 5em;
  }

  .dropdown button {
    font-size: 1em;
  }

  .operation li {
    font-size: 1em;
  }

  .cell {
    font-size: 1em;
  }

  .title {
    font-size: 1em;
  }

  .table-contents-container {
    width: 30vw;
  }

  h3,
  h4 {
    font-size: 1em;
  }

  .hash-table-bucket td {
    padding: 0px 10px 0px 10px !important;
  }

  .node {
    width: 15px !important;
    height: 15px !important;
  }

  .boardContainer {
    overflow-x: auto;
  }
}

@media only screen and (max-width: 550px) {
  .cell {
    font-size: 0.8em;
    width: 8vw;
    height: 4vh;
  }

  .cell.null::before,
  .cell.null::after {
    height: 2vh;
    width: 1px;
  }

  .dropdown {
    justify-content: center;
  }

  .brand {
    display: none;
  }

  .nav-content-container {
    margin-right: 0;
  }

  tr th,
  tr td {
    padding: 8px;
  }

  .flex-container-col {
    justify-content: flex-end !important;
  }
}

.burger-active {
  transform: translateX(0%);
}

@media only screen and (min-width: 400px) and (max-width: 550px) {
  .icon-right-1 {
    right: -20px !important;
  }

  .icon-right {
    transform: scaleX(3) !important;
  }

  .icon-right-2 {
    right: -10px !important;
  }

  .hash-table-bucket td {
    padding: 12px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
  .icon-right-1 {
    right: -25px !important;
  }

  .icon-right {
    transform: scaleX(2) !important;
  }

  .icon-right-2 {
    right: -10px !important;
  }

  .hash-table-bucket td {
    padding: 5px;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .dropdown {
    height: auto;
  }

  .operation li {
    font-size: 1.2em;
  }

  .table-contents-container {
    height: auto;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .hash-table-bucket td {
    padding: 0px 5px 0px 5px;
  }
}

/********************************* All the animations *********************************/
@keyframes slideIn {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes dropDown {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(260%);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes lightUp {
  0%,
  100% {
    background-color: yellowgreen;
  }
  50% {
    background-color: yellow;
  }
}

@keyframes found {
  0% {
    background-color: yellowgreen;
  }
  100% {
    background-color: yellow;
  }
}

@keyframes found-hash {
  from {
    background-color: white;
  }
  to {
    background-color: yellow;
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-120%);
  }
}

@keyframes moveLeft2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-250%);
  }
}

@keyframes moveRight-2-queue {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(180%);
    opacity: 0;
  }
}

@keyframes changeBackground-queue {
  0% {
    background-color: white;
    opacity: 0;
  }
  100% {
    background-color: yellowgreen;
    opacity: 1;
  }
}

@keyframes insert-stack {
  0% {
    transform: translate(-150%, -125%);
  }
  50% {
    transform: translate(0%, -100%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes remove-stack {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(0%, -100%);
  }
  100% {
    transform: translate(150%, -125%);
  }
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}

@keyframes nodeStart {
  0% {
    transform: scale(0.6);
    background-color: rgb(49, 156, 63);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(49, 156, 63);
  }

  100% {
    transform: scale(1);
    background-color: rgb(49, 156, 63);
  }
}

@keyframes nodeFinish {
  0% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes wall {
  0% {
    transform: scale(0.6);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(0, 0, 66, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 0, 66, 0.75);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/************ Button animations ************/
.btn-slide::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #0af;
  z-index: -1;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn-slide:hover::before,
.btn-slide:focus::before {
  transform: scaleX(1);
}

.btn-slide {
  transition: color 300ms ease-in-out;
  z-index: 1;
  border: 1px solid lightblue;
}

.btn-slide:hover,
.btn-slide:focus {
  color: white;
}

.btn {
  background-color: #e3e3e3;
  color: #222;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  padding: 0.5em 1em;
}

/********************************* Dijkstra's algorithm *********************************/
.node {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

.node-finish {
  background-color: rgb(156, 48, 48);
  cursor: pointer;
}

.node-start {
  background-color: rgb(49, 156, 63);
  cursor: pointer;
}

.gridContainer {
  text-align: center;
}

.gridContainer button {
  margin: 10px;
}

.node-shortest-path {
  animation: shortestPath 1.5s ease-out forwards;
  animation-direction: alternate;
}

.node-visited {
  animation: visitedAnimation 1.5s ease-out forwards;
  animation-direction: alternate;
}

.node-start-animation {
  animation: nodeStart 1.5s ease-out forwards;
  animation-direction: alternate;
}

.node-finish-animation {
  animation: nodeFinish 1.5s ease-out forwards;
  animation-direction: alternate;
}

.wall {
  animation: wall 0.5s ease-out forwards;
  animation-direction: alternate;
}

.gridContainer tr {
  display: table-row;
}

.gridContainer {
  display: table-row-group;
  vertical-align: middle;
}

.gridContainer td {
  display: table-cell;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.scale-animation {
  animation: scale 1s ease-out;
}

/******Test zone*******/
/* .redo-icon {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  pointer-events: all;
  z-index: 2;
} */
