*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.big-container {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
}

:root {
  --img: url();
}

/********************************* Navbar *********************************/
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: rgb(19, 75, 139);
}

.nav-content-container {
  width: 25vw;
  margin-right: 5rem;
  display: flex;
  justify-content: space-around;
}

.brand {
  color: white;
  font-size: 2rem;
  padding-left: 3em;
  font-weight: bold;
}

.button-nav:hover {
  transition: all 0.2s ease;
  transform: scale(1.1);
}

.algorithm-dropdown,
.datastructure-dropdown {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

.algorithm-dropdown ul,
.datastructure-dropdown ul {
  position: absolute;
  width: 200px;
  height: 200px;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #f0eded;
  list-style: none;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  top: 50px;
  z-index: 2;
}

.algorithm-dropdown li,
.datastructure-dropdown li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.algorithm-dropdown li:hover,
.datastructure-dropdown li:hover {
  /*Something strange is happening here....*/
  background-color: #326fa8;
  color: white;
  transition: all 0.5s ease;
  transform: scale(1.2);
}

.dropdown button {
  background: none;
  text-decoration: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.algorithm-dropdown button:focus + ul,
.datastructure-dropdown button:focus + ul {
  visibility: visible;
  transform: translateY(10px);
  transition: all 0.5s ease;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 8px;
  margin-bottom: 3px;
}

/********************************* 3 main containers (table of contents, illstration and code) *********************************/
.main-container {
  display: flex;
  height: 85vh;
  width: 100vw;
}

.table-contents-container {
  flex: 0.3;
}

.illustration-container {
  flex: 1;
}

.code-container {
  flex: 0.6;
}

/********************************* Table of contents *********************************/
.table-contents-container,
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  padding-top: 5em;
  text-transform: uppercase;
  animation: dropDown 0.5s ease-out;
  cursor: pointer;
}

.operation {
  width: 100%;
}

.operation li {
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
  width: 100%;
  list-style: none;
  animation: slideIn 0.5s ease-out;
  height: 40px;
  font-weight: 500;
  padding: 5px;
}

.operation li:hover {
  background-color: wheat;
  cursor: pointer;
  color: black;
}

.background-color {
  background-color: #326fa8;
  animation: appear 1s ease forwards;
}

/********************************* Illustraion container *********************************/
.illustration-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.linklist-illu-intro-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  animation: appear 0.8s ease;
  position: relative;
  margin: 30px 0px 30px 0px;
}

.cell-container {
  position: relative;
  height: 7vh;
  width: auto;
  display: flex;
  margin-right: 30px;
}

.cell {
  border: 1px solid white;
  height: 6vh;
  width: 4vw;
  background-color: yellowgreen;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.5em;
  font-weight: 600;
}

.cell.null::before,
.cell.null::after {
  content: "";
  height: 5vh;
  width: 2px;
  background-color: black;
  position: absolute;
}

.cell.null::before {
  transform: rotate(45deg);
}

.cell.null::after {
  transform: rotate(-45deg);
}

.icon {
  left: 80%;
  transform: translateY(100%);
  transform: scaleX(2.2);
  position: absolute;
}

.null {
  position: absolute;
}

/********************************* Code container *********************************/
.code {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 0.8s ease-in;
}

/************ Linked List operation ************/
.linkList-insert-illu {
  height: 100%;
  width: 100%;
}

.head-null-insert,
.normal-insert {
  height: 50%;
  width: 100%;
}

.head-null-insert,
.normal-insert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slideIn 0.8s ease;
}

.new-cell {
  animation: appear 1s ease forwards 3s;
  opacity: 0;
}

.cell.remove-move-right {
  animation: moveRight 1s ease-out forwards 2s;
}

.new-cell-pointer {
  position: absolute;
  opacity: 0;
  right: 125px;
  animation: appear 1s ease forwards 3.8s;
}

.appear-pointer-linked-list {
  animation: appear 1s ease forwards 2s;
  opacity: 0;
}

.toggle-choose {
  background-color: wheat;
  color: black !important;
}

.code-image-container {
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: var(--img);
  animation: appear 1s ease 0.6s forwards;
  opacity: 0;
}

.code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.added-cell {
  position: relative;
  opacity: 0;
  animation: appear 1s ease forwards 3s;
}

.tobe-inserted-cell {
  transform: translateY(120%);
  position: absolute;
  animation: disappear 1s ease forwards 3s;
}

.text-result {
  animation: appear 1s ease forwards 4.5s;
  opacity: 0;
}

.text-result-2 {
  animation: appear 1s ease forwards 6.5s;
  opacity: 0;
}

.tobe-deleted {
  animation: disappear 0.5s ease forwards 4.5s;
}

.remove-move-left {
  animation: moveLeft 1s ease-out forwards 5.5s;
}

.remove-move-left-2 {
  animation: moveLeft2 1s ease-out forwards 5.5s;
}

tr th,
tr td {
  height: auto;
  width: auto;
  padding: 15px;
  background-origin: padding-box;
  border: 1px solid black;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

.linkedListComplexityTable {
  opacity: 0;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

/********************************* On smaller screen *********************************/
@media only screen and (max-width: 1400px) {
  .algorithm-dropdown ul,
  .datastructure-dropdown ul {
    top: 80px;
  }
}

@media only screen and (max-width: 1024px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .burger {
    position: absolute;
    top: 50px;
    left: 20px;
    display: block;
  }

  .table-contents-container {
    position: absolute;
    left: 0;
    height: 85vh;
    width: 20vw;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 2;
  }

  .cell.null::before,
  .cell.null::after {
    height: 3vh;
  }

  .cell {
    font-size: 1.2em;
    width: 6vw;
  }

  .dropdown button {
    font-size: 1.2em;
  }

  .cell-container {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .brand {
    font-size: 1.2em;
    padding-left: 5em;
  }

  .dropdown button {
    font-size: 1em;
  }

  .operation li {
    font-size: 1em;
  }

  .cell {
    font-size: 1em;
    width: 8vw;
  }

  .title {
    font-size: 1em;
  }

  .table-contents-container {
    width: 30vw;
  }

  h3 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 550px) {
  .cell {
    font-size: 0.8em;
    width: 8vw;
    height: 4vh;
  }

  .cell.null::before,
  .cell.null::after {
    height: 2vh;
    width: 1px;
  }

  .burger {
    top: 40px;
  }

  .dropdown {
    justify-content: center;
  }

  .brand {
    display: none;
  }

  .nav-content-container {
    margin-right: 0;
  }
}

.burger-active {
  transform: translateX(0%);
}

/********************************* All the animations *********************************/
@keyframes slideIn {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes dropDown {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(250%);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes lightUp {
  0%,
  100% {
    background-color: yellowgreen;
  }
  50% {
    background-color: yellow;
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-120%);
  }
}

@keyframes moveLeft2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-250%);
  }
}
